In [9]:
#1
nameList = ["John", "Harry", "Jesse", "John", "Harry", "Harry" ]
nama = nameList[1]
nama2 = nameList[4]
nama3 = nameList[3]
print(nama3)
print(nama)
print(nama2)

John
Harry
Harry

In [18]:
#2
student = {"name":"Rosa", "Class": 9 , "Marks": 90}

hasil = student.clear()
print(hasil)

hasil2 = student.copy()
print(hasil2)

None
{}

In [22]:
#3
dict1 = {"key1":1, "key2":2}
dict2 = {"key2":2, "key1":1}

print(dict1==dict2)

True

In [34]:
#4
aTuple = (100, 200, 300, 400, 500)
#tuple has no atribute pop, so aTuple.pop(2) is wrong
print(aTuple)
print(aTuple[-2])
print(aTuple[-4:-1])

(100, 200, 300, 400, 500)
400
(200, 300, 400)

In [32]:
#5
person = {'name':'Phill','age':22} 
a = person.setdefault('age')
print('person = ' , person)
print('Age =' , a)

person =  {'name': 'Phill', 'age': 22}
Age = 22