In [63]:

try:
    f = open("dataMahasiswa.txt" , "r")
    baris = f.read()
except FileNotFoundError:
    print("File tidak ditemukan")
else:
    print(baris)

finally:
    f.close()

try:
    with open("dataNim.txt", "w") as file:
        if len(nim) != 11 or not nim.isdigit():
            raise ValueError("NIM yang kamu masukkan tidak valid")
        file.write(f"NIM : {nim}")

except ValueError as e:
    print(e)

try:
    with open("dataMahasiswa.txt", "w") as file:
        if len(nama) <5:
            raise ValueError("Nama yang kamu masukkan tidak valid")
        file.write(f"Nama : {nama}")

except ValueError as e:
    print(e)

try:
    with open("dataAlamat.txt", "w") as file:
        if len(alamat) <10:
            raise ValueError("Alamat yang kamu masukkan tidak valid")
        file.write(f"Alamat : {alamat}")

except ValueError as e:
    print(e)

try:
    with open("dataKelas.txt", "w") as file:
        if kelas != "TI23" or "TI24" :
            raise ValueError("Kelas yang kamu masukkan tidak valid")
        file.write(f"Kelas : {kelas}")

except ValueError as e:
    print(e)

NIM yang kamu masukkan tidak valid
Nama yang kamu masukkan tidak valid
Alamat yang kamu masukkan tidak valid
Kelas yang kamu masukkan tidak valid

In [53]:
with open("dataNim.txt", "w") as file:
    nim = input("Masukan NIM : ")
    file.write(f"Nim Mahasiswa : {nim}")

with open("dataMahasiswa.txt" , "w") as file:
    nama = input("Masukan nama : ")
    file.write(f"Nama Mahasiswa : {nama}")

with open("dataAlamat.txt" , "w") as file:
    alamat = input("Masukan alamat : ")
    file.write(f"Alamat Mahasiswa : {alamat}")

with open("dataKelas.txt" , "w") as file:
    kelas = input("Masukan kelas : ")
    file.write(f"Nama Kelas : {kelas}")

Masukan NIM :  2024oo4o2o9
Masukan nama :  rosa
Masukan alamat :  london
Masukan kelas :  TI20C