In [39]:
#function dan built im function 
#1. Function tanpa parameter 
import datetime

def showDate() :
    today = datetime.date.today()
    print(f"Today is : {today}")

In [31]:
#Function dengan parameter 
#Menampilkan Nama Lengkap beserta gelar

def getFullName(first,middle,last) :
    fullName = f"{first} {middle} {last}, S.Kom"
    print(F"Welcome, {fullName}")

In [33]:
#Function dengan return value
def addNumber(num1,num2) :
    result = num1 + num2
    return result

def multiplyNumber(num1,num2) :
    result = num1 * num2
    return result

def math(num1, num2) :
    rAdd = num1 + num2
    rDevide = num1 / num
    return rAdd, rDevide



r1 = addNumber(10,5)
r2 = multiplyNumber(4,5)
r3 = addNumber(r1,r2)
rAdd,rDevine = math(4,5)
print(f"Hasil pertambahan 10 dan 5 : {r1}")
print(f"Hasil perkalian 4 dan 5 : {r2}")
print(f"Hasil perkalian r1 dan r2 : {r3}")
print()

Hasil pertambahan 10 dan 5 : 15
Hasil perkalian 4 dan 5 : 20
Hasil perkalian r1 dan r2 : 35

In [47]:
#Function dengan nilai default

def userRegist(nama,email,status=False,role='user') :
    return f"Nama : {nama} \n email : {email} \n Role : {role}"

In [51]:
showDate()
print(userRegist("Rudi" , "rudi@gmail.com"))

Today is : 2025-05-21
Nama : Rudi
 email : rudi@gmail.com
 Role : user

In [65]:
#function dengan keyword Argument, menggunakan tanda * danaa **

def printData(*args , **kwarg) :
    print(args)
    print(kwarg)
    return args,kwarg

data1, data2 = printData("Malang" , "Surabaya" , "Sukabumi" , "Jakarta" , nama='Andri' , umur=21)

print(data1[0])
for item in data2.items():
    print(item[1])

('Malang', 'Surabaya', 'Sukabumi', 'Jakarta')
{'nama': 'Andri', 'umur': 21}
Malang
Andri
21

In [ ]:
import math